.benefits_section{
    background: #EEE;
}

.benefits_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.benefits_tile {
    display: flex;
    flex-direction: row;
    height: 52px;
    gap: 8px;
}

.benefits_img {
    border-radius: 40px;
}

.benefits_title {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

}

.benefits_text {
    color: var(--Gray-Scale-Gray-400, #999);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.benefits_group {
    display: flex;
    flex-direction: column;
}