.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height:24px;
}

.header_container {
    height: 95px;
    background-image: url("../../assets/images/header-bg.png");
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--grey-dark);
}

.header_container:first-child {
    padding-top: 9px;
}

.header_logo {
    height: 54px;
    padding-top: 13px;
}

.header_icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.header_search_input {
    height: 24px;
    width: 248px;
    border: none;
    background: transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.header_search_input:focus {
    outline: none;
}

.search_container {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--grey-dark);
    padding-left: 8px;
    padding-right: 8px;
}

.section {
    display: block;
}

.dropdown {
    display: flex;
}

.dropdown ul li {
    background-color: var(--Gray-Scale-White);
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    list-style-type: none;
    padding-left: 10px;
}

.dropdown ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.dropdown:hover ul {
    display: block;
}

.header_contacts {
    display: flex;
    align-items: center;
}

.header_settings {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.header_settings span {
    margin-right: 3px;
    margin-left: 3px;
}

.header_setting_splitter {
    border-left: 1px solid var(--grey-light);
}

.header_icon_splitter {
    height: 22px;
    border-left: 1px solid var(--grey-dark);
}

.header_container a {
    text-decoration: none;
    color: var(--grey-dark);
}