.cartItemsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.cartItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart {
    display: flex;
    gap: 25px;
    align-items: flex-start;
    padding-top: 32px;
}

.cartSumary {
    max-width: 277px;
    min-width: 225px;
    height: 272px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid var(--Gray-Scale-Gray-100, #E6E6E6);
    background: var(--Gray-Scale-White, #FFF);
    /* cart shadow */
    box-shadow: 0px 4px 12px 0px rgba(141, 175, 185, 0.24);
    padding: 16px;
    box-sizing: border-box;
}

.cartTitle {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);

    /* Web/H3 24px/Bold */
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 36px */
}

.cartSumaryTitle {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);

    /* Web/H4 20px/Bold */
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 30px */
}

.cartSumaryLine {
    color: var(--Gray-Scale-Gray-700, #4D4D4D);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartSumaryLineHighlight {
    border-bottom: 1px solid #E5E5E5;
}


.cartSumaryLine span {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);

    /* Web/Body 16 px/Bold */
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 24px */
}


.cartSumary button {
    width: 100%;
}

.itemQuantity {
    display: inline-block;
    text-align: center;
    width: 32px;
}

.cartItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.emptyCartHeader {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
    align-self: center;
}